body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  .form-group button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
  
  .thank-you-message {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
  }
   .i{
    background-image:url('https://static.vecteezy.com/system/resources/previews/001/263/984/original/contact-us-concept-free-photo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  } 
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 50px;
    text-align: center;
  }